<h1>Articles Tagged withi <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<h5><%= link_to "<< Back to Articles list", articles_path %></h5>
